.loginForm {
    text-align: center;
    justify-content: space-between;
    padding: 8rem;
}

.loginForm > h4 {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.loginForm >div {
    display: flex;
    justify-content: center;
    /* flex-direction: column;
    align-items: center; */
}